@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(204, 134, 87);
  background: linear-gradient(
    148deg,
    rgba(204, 134, 87, 1) 11%,
    rgba(49, 65, 157, 1) 47%,
    rgba(16, 6, 48, 1) 100%
  );
  min-height: 100vh;
}
