/* .outerwrap{ */
/*     display: flex; */
/*     justify-content: center; */
/*     align-items: center; */
/* } */


.main {
    display: flex;
    justify-content: center;
    margin-top: 18%;
}


#landingtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landingtext p{
    text-align: center;
}

