#Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center; /*center align text*/
  padding: 10px;
  background-color: var(--navbar-bg-color);
}

#links {
  display: flex;
  align-items: center;
}

.navUl {
  margin: 0;
  padding: 0;
  display: flex;
  flex-shrink: 0;
}

.divider {
  width: 2px;
  height: 1em;
  margin: 0px 16px;
  background-color: var(--navbar-txt-color);
  flex-shrink: 0;
}

.link {
  color: var(--navbar-txt-color);
  padding: 0px 8px;
  flex-shrink: 0;
  text-decoration: none;
}

#title {
  color: var(--navbar-txt-color);
  color: white;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  flex-shrink: 0;
  margin-right: 50px;
}