#Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center; /*center align text*/
  padding: 10px;
  background-color: var(--navbar-bg-color);
}

#links {
  display: flex;
  align-items: center;
}

.navUl {
  margin: 0;
  padding: 0;
  display: flex;
  flex-shrink: 0;
}

.divider {
  width: 2px;
  height: 1em;
  margin: 0px 16px;
  background-color: var(--navbar-txt-color);
  flex-shrink: 0;
}

.link {
  color: var(--navbar-txt-color);
  padding: 0px 8px;
  flex-shrink: 0;
  text-decoration: none;
}

#title {
  color: var(--navbar-txt-color);
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  flex-shrink: 0;
  margin-right: 50px;
}

#menuButton {
  background-color: transparent;
  border: none;
}

#menuButton #inner {
  color: white;
  height: 1.25rem;
}

#ddLinks {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--navbar-bg-color);
  padding: 10px;
  right: 0px;
}

#ddLinks .link {
  padding: 2px 0px;
}

.link:hover {
  color: palegreen;
}

.onPage {
  color: aquamarine;
}

/* small screen accessibility */
#DropDown {
  display: none;
}
@media (max-width: 768px) {
  #links {
    display: none;
  }
  #DropDown {
    display: block;
  }
}